body {
  background-color: #4F4F8D;
}

.main {
  position: relative;
  width: 70%;
  left: 15%;
  top: 10%;
  background-color: #272847;

}

.field {
  padding: 10px;
  left:  20%;
  border: 2 solid yellow;
}

.fieldLabel {
  color: white;
  display: block;
}

.field-ul {
  list-style-type: none;
  color: #ffffff;
  padding: 0px;
}
